.detailtitle{
    color:#003bc1;
}
.detailtitle{
    padding-left:10px;
    padding-right:10px;
}
.detailcontents {
    padding-left: 10px;
    padding-right: 10px;
}
.detailpost {
    color: grey;
    font-size: 13px;
    span{
        padding-left: 5px;
    }
}
ion-footer{
    ion-row{
        border-top: 2px solid #3880ff;
        padding-top: 5px;
        padding-bottom: 35px;
    }
}

.dglink a{
    font-size: 18px;
    text-decoration: none;
}
.dglink{
    padding-left: 20px;
}
.detailinfo{
    padding-left: 6px;
}