<ion-header>
    
  <ion-toolbar color= 'primary'>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/first" ></ion-back-button>
    </ion-buttons>
    <ion-title>Disclaimer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class= 'content'>
  <p>
    <b>JournalFilter.com </b> provides doctors with a tool to keep up-to-date in an age of information overflow and deterioration of information as it drifts away from its source. <br/>
    JournalFilter.com provides easy access to the original source of research data. <br/>
    The programme is still under development. Currently, only new research in Cardiology is covered. <br/>
    Abstract data is kindly provided by the U.S. National Library of Medicine. <br/>
    Please also read their disclaimer.<br/>
    <b>JournalFilter.com </b> is a brainchild and scripting product of Jonas de Jong, MD and supported by the Stone and Ripple company.
  </p>
</div>
</ion-content>